html {
    box-sizing: border-box;
    font-family: sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin:0;
    padding: 0;
    border: 0;
    font-size: inherit;
    text-shadow: inherit;
    /* border: 1px solid red; */
}

body,
header,
main,
footer,
main,
.game,
.game > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

body > * {
    width: 100%;
}

body {
    min-height: 100vh;
    color: aliceblue;
}

body,
.game,
.game__versus {
    flex-direction: column;
}

header,
footer {
    background: #10294d;
    padding: 1rem;
}

header {
    font-size: 3rem;
    font-weight: bolder;
    z-index: 1;

    box-shadow: 0 .1em .1em rgba(0, 0, 0, .5);
    text-shadow: .15rem .15rem rgba(256, 256, 256, .5);
}

main,
.game {
    flex-grow: 1;
}

main {
    background: #08b7ff;
}

.game {
    max-width: 960px;
    align-self: stretch;
    background: radial-gradient(
        circle,
        rgba(0,0,0,.2) 0%,
        rgba(0,0,0,0.6) 35%,
        rgba(0,0,0,0) 85%
    );

    --game-fs: min(2rem, 8vmin);
    font-size: var(--game-fs);
    font-weight: bold;
    text-shadow: 0px 0px .15em black;
}

.game__avatar {
    font-size: calc(2 * var(--game-fs));
}

.game__versus {
    flex: 2 2 0;
    justify-content: space-around;
}

.game__avatar,
.game__player {
    flex: 1 1 0;
}

.game__player {
    min-width: 80%;
    flex-wrap: wrap;
    gap: 1rem;
}

.game__icon {
    padding: max(4%, var(--game-fs)/3);
    border-radius: 50%;

    background: rgba(256, 256, 256, .75);
    box-shadow: 0 .1em .2em rgba(0, 0, 0, .5);
}

.game__choice {
    cursor: pointer;
}

.game__choice:hover {
    background: rgba(256, 256, 256, .9);
    transform: scale(1.2);
    transition-duration: .25s;
}

.game__avatar-computer::after {
    content: '🤖';
}

.game__icon-undecided::after {
    content: '❓';
}

.game__icon-rock::after {
    content: '🪨';
}

.game__icon-paper::after {
    content: '📄';
}

.game__icon-scissors::after {
    content: '✂️';
}

.game__score-player {
    color: chartreuse;
}

.game__score-opponent {
    color: red;
}